h1 {
  color: darkolivegreen;
  letter-spacing: 50px;
  font-size: 80px;
  text-decoration: dashed underline black;
}
h2,
h3 {
  color: darkolivegreen;
  text-align: center;
}

p {
  color: black;
  text-align: center;
}

body {
  background-color: lightgray;
  text-align: center;
  font-family: "Goudy Bookletter 1911", serif;
}

ul {
  text-align: center;
  margin: auto;
  list-style-position: inside;
}

div a {
  text-decoration: double underline;
  color: blue;
}
textarea {
  width: 20%;
  padding: 10px 10px;
  margin: 5px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 50px;
  overflow: hidden;
}
textarea:hover {
  background-color: rgb(142, 185, 201);
}

input:hover {
  background-color: rgb(142, 185, 201);
}

#submit:hover {
  background-color: forestgreen;
  color: black;
  border: 3px solid black;
}
#reset:hover {
  background-color: red;
  color: black;
  border: 3px solid black;
}

form {
  width: 50%;
  margin: auto;
  border: 5px solid black;
  border-radius: 10%;
  box-sizing: border-box;
  display: inline-block;
}

button {
  padding: 5px 5px;
  border-radius: 10px;
  font-size: 1em;
}
