h1 {
    color: darkolivegreen;
    text-align: center;
}
h2 {
    color: darkolivegreen;
    text-align: center;
    
}
h3 {
    color: darkolivegreen;
    text-align: center;
   
}
button {
    background-color: turquoise;
    color: black;
}

p {
    color: black;
    text-align: center;
}

body {
    background-color:lightgrey;
    text-align: center;
}

ul {
   text-align: center;
   margin: 0 auto;
   list-style-position: inside;
}